<h1> Login! </h1>

<%= form_for(:session, url: login_path) do |f| %>

    <div class="form-group">
      <div class="col-md-3">
      <%= f.label :name %></div>
      <div class="col-md-4">
      <%= f.text_field :name %></div>
    </div>

    <br>
    <br>

    <div class="form-group">
      <div class="col-md-3">
      <%= f.label :password %></div>
      <div class="col-md-4">
      <%= f.password_field :password %></div>
    </div>

    <br>
    <br>

    <div class="form-group">
      <div class="col-md-3">
      <%= f.submit "Sign in", class: "btn btn-primary" %></div>
    </div>

    <br>

<% end %>
