<h1>Cageflix</h1>
<h2>Netflix for Nic Cage Movies</h2>

<h4>Edit Movie</h4>

<%= form_for @movie do |f| %>

<div>
<%= f.label :name %>
<%= f.text_field :name %><br>
</div>

<div>
<%= f.label :year %>
<%= f.number_field :year %><br>
</div>

<div>
<%= f.label :synopsis %>
<%= f.text_field :synopsis %><br>
</div>

<%= f.submit "Update Movie"%>

<% end %>
