%h1 Cageflix
%h3 Netflix for Nic Cage Movies
= link_to 'Add Movie', new_movie_path

- @movies.each do |movie|
  %div
    %h4
      #{movie.name} (#{movie.year})
      #{link_to 'New Review', new_movie_review_path(movie)}
    %p= movie.synopsis
