<%= link_to 'Add Movie', new_movie_path %> 
<br>
<br>


<% @movies.order(year: :desc).each do |movie| %> 

<table>
<tr>
	<td><%= movie.movie_name %> <%= movie.year %> <%= link_to 'New Review', new_movie_review_path(movie) %></td>
</tr>
<tr>
	<td><%= movie.synopsis %></td>
</tr>

 
<% end %> 

