<h1>Cageflix</h1>
<h2>Netflix for Nic Cage movies</h2>
<%= link_to "Add Movie", new_movie_path %><br /><br />

<% @movies.each do |movie| %>
  <strong><%= movie.name %> (<%= movie.year %>)</strong> <%= link_to "New Review", new_movie_review_path(movie) %>
  <p><%= movie.synopsis %></p>
  <br />
  <% end %>
