<h1>New Movie</h1>

<%= form_for @movie do |f| %>

<% if f.object.errors.any? %>
  <ul class="errors">
    <% f.object.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

  <p>Name: <%= f.text_field :name %></p>
  <p>Year: <%= f.date_field :year %></p>
  <p>Synopsis: <%= f.text_area :synopsis %></p>
  <p><%= f.submit "Submit" %></p>

<% end %>
