<div class="page-header">
  <h1>New Movie</h1>
</div>

<%= form_for(@movie) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :summary %>
  <%= f.text_area :summary %>
  <%= f.label :date %>
  <%= f.date_select :date %>
  <%= f.submit %>
<% end %>
