<h1>Add your favorite movie to our catalog</h1>

<%= form_for @movie do |f| %>
<div>
<%= f.label :title %>
<%= f.text_field :title %>
</div>
<br>
<div>
<%= f.label :about %>
<%= f.text_area :about %>
</div>
<br>
<div>
<%= f.label :year %>
<%= f.text_field :year %>
</div>
<br>
<div>
<%= f.submit 'Submit' %>
</div>
<% end %>
