<h1>Cageflix</h1>

<h3>Netflix for Nic Cage movies</h3>

<%= form_for @movie do |f| %>

<div><%= f.label :title, 'Name' %>
<%= f.text_field :title %></div>
<br>
<div><%= f.label :year %>
<%= f.text_field :year %></div>
<br>
<div><%= f.label :body, 'Synopsis' %>
<%= f.text_area :body %></div>
<br>
<div><%= f.submit %></div>
<% end %>
