<h1>New Nic Cage Movie!</h1>

<%= form_for(@movie, :html => {class: "form-horizontal"}) do |f| %>

<% if @movie.errors.any? %>
<div id="error_explanation">
  <h2> <%= pluralize(@movie.errors.count, "error") %>
    prohibited this movie from being saved:
  </h2>
  <ul>
    <% @movie.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :year %>
<%= f.number_field :year %>

<%= f.label :description %>
<%= f.text_area :description %>

<%= f.submit %>

<% end %>
