<h1><%= @movie.name %></h1>

  <h4>Year: <%= @movie.year %></h4>
  <h4>Synopsis: <%= @movie.synopsis %></h4>



<h1>Reviews for <%= "#{@movie.name}" %></h1>
<table>
  <thead>
    <th>Movie</th>
    <th>Reviewer</th>
    <th>Date</th>
  </thead>
  <% @movie.reviews.each do |review| %>

  <tr>
  <td><%= review.movie.name %></td>
  <td><%= review.user.username %></td>
  <td>
    <%= review.created_at %>
  </td>
</tr>
<% end %>
</table>
<%= link_to "New Review", new_movie_review_path(@movie) %>
