<h1> Sign-Up </h1>

<%= form_for @user do |f| %>

<tr>
	<td><%= f.label :username %></td>
	<td><%= f.text_field :username %></td>
</tr>
<tr>
	<td><%= f.label :password %> </td>
	<td><%= f.password_field :password %></td>
</tr> 
<tr>
	<td><%= f.submit %> </td>
</tr>


<% end %> 





