

<div><%= link_to "Movies" %></div>

<div><%= link_to "Reviews" %></div>

<div><%= link_to "New Movie" %></div>

<div><%= link_to "New Review" %></div>

<div><%= link_to "Sign Up" %></div>

<div><%= link_to "Login" %></div>
