

<div><%= link_to "Movies", movies_path %></div>

<div><%= link_to "Reviews" %></div>

<div><%= link_to "New Movie" %></div>

<div><%= link_to "New Review", new_review_path %></div>

<div><%= link_to "Sign Up", signup_path %></div>

<div><%= link_to "Login", signin_path %></div>
