

<br>
<br>
<h2><%= link_to "Movies", movies_path %></h2>
<br>
<h2><%= link_to "Reviews", movies_path %></h2>FIX
<br>
<h2><%= link_to "New movie", movies_path %></h2>FIX
<br>
<h2><%= link_to "New review", movies_path %></h2>FIX
<br>
<h2><%= link_to "Sign up", new_user_path %></h2>
<br>
<h2><%= link_to "Login", login_path %></h2>
