<strong> <h1> Welcome to Cageflix </h1> </strong>

<%= link_to 'Movies', movies_path %> <br>

<%= link_to 'Reviews', reviews_index_path %><br>

<%= link_to 'New Movie', new_movie_path %><br>

<%= link_to 'New Review', reviews_new_path %><br>

<%= link_to 'Sign Up', signup_path %><br>

<%= link_to 'Login', signin_path %><br>
