<strong> <h1> Welcome to Cageflix </h1> </strong>

<%= link_to 'Movies', movies_path %>

<%= link_to 'Reviews', reviews_path %>

<%= link_to 'New Movie', new_movie_path %>

<%= link_to 'New Review', new_movie_review_path %>

<%= link_to 'Sign Up' %>

<%= link_to 'Login' %>
