<ul>
  <li><%= link_to 'Movies', movies_path %></li>
  <li><%= link_to 'Reviews', '/#' %></li>
  <li><%= link_to 'New Movie', new_movie_path %></li>
  <li><%= link_to 'New Review', '/#' %></li>
  <li><%= link_to 'Sign Up', '/#' %></li>
  <li><%= link_to 'Login', '/#' %></li>
</ul>
