<div class="page-header">
  <h1>Welcome</h1>
</div>
<ul>
  <li><%= link_to 'Movies', movies_path %></li>
  <li><%= link_to 'Reviews', reviews_path %></li>
  <li><%= link_to 'New Movie', new_movie_path %></li>
  <li><%= link_to 'New Review', new_review_path %></li>
  <li><%= link_to 'Sign Up', new_user_path %></li>
  <li><%= link_to 'Login', login_path %></li>
</ul>
