<h1> Welcome to Nick Cage Movies </h1>

<%= link_to 'Movies' %> 
<br>
<%= link_to 'Reviews' %>
<br>
<%= link_to 'New Movie' %>
<br>
<%= link_to 'New Review' %>
<br>
<%= link_to 'Sign-up' %>
<br>
<%= link_to 'Login' %>
