<strong> <h1> Welcome to Cageflix </h1> </strong>

<%= link_to 'Movies', movies_path %> <br>

<%= link_to 'Reviews' %><br>
<!-- movie_reviews_path -->

<%= link_to 'New Movie', new_movie_path %><br>

<%= link_to 'New Review' %><br>
<!-- new_movie_review_path(@movie) -->

<%= link_to 'Sign Up', signup_path %><br>

<%= link_to 'Login', signin_path %><br>
