<h2><%= link_to 'Movies', movies_path %></h2>
<br>
<h2><%= link_to 'Reviews', reviews_path %></h2>
<br>
<h2><%= link_to 'New Movie', new_movie_path %></h2>
<br>
<h2><%= link_to 'New Review', new_review_path %></h2>
<br>
<h2><%= link_to 'Sign Up', new_registration_path %></h2>
<br>
<h2><%= link_to 'Login', login_path %></h2>
