<h3>All Reviews</h3>

<br>

<table class="table table-striped">
  <thead>
    <th>Movie </th>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Reviewer </th>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Date </th>
  </thead>

<br>

  <tbody>

<% @reviews.order(created_at: :desc).each do |review| %>
    <tr>
      <td><%= review.movie.name %><br>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= review.user.name %>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= review.created_at.strftime("%m")%>/<%= review.created_at.strftime("%d")%>/<%= review.created_at.strftime("%Y")%>
      </td>
    </tr>

<% end %>

  </tbody>

</table>
