<h1>Cageflix</h1>
<h2>Netflix for Nic Cage Movies</h2>

<h4>Add a Review</h4>

<%= form_for [@movie, @review] do |f| %>

<div>
<%= f.label :movie_id %>
<%= f.collection_select :movie_id, Movie.all, :id, :name, {include_blank: true}, {class: "form-control"} %>
</div>

<div>
<%= f.label :body %>
<%= f.text_field :body %><br>
</div>

<div>
<%= f.label :date %>
<%= f.date_field :date %><br>
</div>

<%= f.submit %>

<% end %>
