%h1 New Review

- if @movie
  - model = [@movie, @review]
- else
  - model = @review
= form_for model do |f|
  - if @movie
    = f.hidden_field :movie_id
  - else
    %fieldset
      = f.collection_select :movie_id, @movies, :id, :name, prompt: 'All Movies'
  %fieldset
    = f.label :title
    = f.text_field :title
  %fieldset
    = f.label :body
    = f.text_field :body
  = f.submit
