<h1>New Review</h1>
<%= form_for(@review) do |f| %>
<%= f.label 'Title' %>
<%= f.collection_select :movie_id, Movie.all, :id, :title %>
<%= f.label 'Body' %>
<%= f.text_field :body %>
<%= f.submit %>
<% end %>
