<p><h1>New Review</h1></p>
  <%= form_for [@movie, @review] do |f| %>
  <% unless @movie != nil %>
  <%= f.collection_select :movie_id, Movie.all, :id, :name, {prompt: "All Movies"} %></br>
  <% end %>
  <%= f.label :title %>
  <%= f.text_field :title %></br>
  <%= f.label :body %>
  <%= f.text_field :body %></br>
<%= f.submit "Create Movie" %>
<% end %>
