<!DOCTYPE html>
<html>
<head>
  <title>G3AssessmentWeek12</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
  <%= link_to "Home", root_path %>
  
  <% if notice %>
    <h4><%= notice %></h4>
  <% end %>
  <br>
  <% if current_user %>
    <h5>Logged in as: <%= current_user.username %> - <%= link_to "Sign out", logout_path %></h5>
    <br>
  <% end %>

<%= yield %>

</body>
</html>
