<!DOCTYPE html>
<html>
<head>
  <title>G3AssessmentWeek12</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
  <h1><%= link_to "CageFlix", movies_path %></h1>
  <h3>Netflix for Nic Cage movies</h3>
  <div class="container">

  <% if current_user %>
    Hello <%= current_user.username %> | <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= link_to "Sign Up", new_user_path %> | <%= link_to "Log In", login_path  %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
